:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-skills: #CB92B1;
    --green: #00FF00;
  }


.containerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;

  width: calc(100vw - 20px);
  border-radius: 20px;
  background-color: var(--bg-cards);
  margin: 10px 0px;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.571)
}
.imgMe {
  width: 40%;
  border-radius: 50%;
  border: 2px solid var(--green);
}
.Me h1 {
  text-align: center;
  font-size: 1.3em;
  padding: 20px;
}
.NetWork {
  display: flex;
  align-items: center;
  gap: 1px;
  padding: 30px;
}
.link {
  display: flex;
  width: 200px;
  padding: 10px 0;
}
.link a {
  text-decoration: none;
  color: var(--text-color);
}
.link span {
  padding-right: 10px;
}
.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.skillsList p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-skills);
  width: 110px;
  padding: 10px;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.31);
  font-size: 0.9em;
}